<header>
  <div class="header-container">
    <h1>{{ title }}</h1>
    <nav>
      <div class="nav-button">
        <a routerLink="/home" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home"></i> Home
        </a>
      </div>
      <div class="nav-button">
        <a routerLink="/movies" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-film"></i> Movies
        </a>
      </div>
      <div class="nav-button">
        <a routerLink="/favorite" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-heart"></i> Favourite
          <span class="badge">{{ this.homeApiService.favoriteMoviesCount }}</span>
        </a>
      </div>
    </nav>
  </div>
</header>
