/* movie-detail.component.css */

.movie-detail-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text for contrast */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Adjusted for darker theme */
  }
  
  .movie-image {
    max-width: 60%;
    height: 300px;
    border-radius: 5px;
  }
  
  .movie-title {
    font-size: 2em;
    color: #E4B721; /* Title color changed for better visibility */
    margin: 10px 0;
  }
  
  .movie-overview {
    font-size: 1em;
    color: #ddd; /* Lighter text color for readability */
  }
  
  /* Add additional styling as needed */
  