.sidenav-container {
  height: 100vh;
  background-color: #f0f0f0;
}


mat-sidenav {
  width: 250px;
  background-color: #fff;
  color: #fff;
}


mat-list-item.selected {
  background-color: #adb5bd;
  font-weight: bold;
  color: #E4B721;
}

mat-list-item {
  color: #fff;
  text-decoration: none;
}


mat-sidenav-content .container {
  padding: 20px;
}


.movie-list {
  text-align: left;
}


.movie-card-container {
  margin-bottom: 20px;
}


.example-card {
  max-width: 400px;
}



.example-header-image {
  background-size: cover;
}


mat-card-title {
  font-size: 1.25rem;
  margin-top: 0;
}


mat-card-content p {
  margin: 0;
}


.movie-title {
  font-size: 18px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  position: relative;
}

.movie-title:hover::after {
  content: attr(data-full-title);
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  white-space: normal;
  z-index: 1;
}

.card-image {
  height: 300px;
  width: 100%;
}

.btn-clr {
  font-weight: bold;
  color: #E4B721; 
}