<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item *ngFor="let title of titleData" (click)="selectTitle(title)" [class.selected]="title === selectedTitle">
        {{ title.title }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="movie-list">
        <div class="row">
          <ng-container *ngIf="filteredMovies && filteredMovies.length === 0; else movieList">
            <div class="col-12">
              <p>No movies found.</p>
            </div>
          </ng-container>
          <ng-template #movieList>
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let movie of filteredMovies; let i = index">
              <div class="movie-card-container">
                <app-movie-card [movie]="movie"></app-movie-card>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
