<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-form-field>
      <mat-label>Select Genre</mat-label>
      <mat-select [(ngModel)]="selectedGenre" (selectionChange)="filterMoviesByGenre()">
        <mat-option value="">All Genres</mat-option>
        <mat-option *ngFor="let genre of genresArray" [value]="genre">{{ genre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sort By</mat-label>
      <mat-select [(ngModel)]="selectedSortBy" (selectionChange)="sortMovies()">
        <mat-option value="title">Title</mat-option>
        <mat-option value="release_date">Release Date</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="movie-list">
        <div class="row">
          <ng-container *ngIf="filteredMovies && filteredMovies.length === 0; else movieList">
            <div class="col-12">
              <p>No movies found.</p>
            </div>
          </ng-container>
          <ng-template #movieList>
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let movie of filteredMovies; let i = index">
              <div class="movie-card-container">
                <app-movie-card [movie]="movie"></app-movie-card>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
